// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");
// Variables
@import "variables";
// Bootstrap
@import "~bootstrap/scss/bootstrap";
.navbar {
    background-color: #0069b7;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
    ul {
        li {
            a.nav-link {
                color: white !important;
                font-size: 1.2rem;
            }
            &:hover {
                background-color: #fea50f;
            }
        }
    }
}

footer {
    .blue {
        background-color: #0069b7 !important;
    }
    .menuFooter {
        a {
            margin-top: 0.8rem;
            color: white !important;
        }
    }
    .info {
        p {
            color: white !important;
        }
    }
}

#generalTitle {
    margin: 0 auto;
    background-color: coral;
    width: 200px;
    height: 50px;
    text-align: center;
    color: white;
    font-size: 20px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    a:link,
    a:visited {
        color: white;
    }
}

.card {
    a:link,
    a:visited {
        color: inherit;
    }
}

.isupermarket-brand {
    color: white;
    font-size: 18px;
}

.newDetails {
    margin: 2.5rem auto;
    .newTitle,
    .back {
        text-align: center;
    }
}

pre {
    font-family: inherit;
    font-size: 1rem;
}

.recipeCategory {
    border: 1px solid rgb(185, 185, 185);
    margin: 1.5rem 0;
    padding: 0.8rem;
    border-radius: 1rem;
    a:link,
    a:visited {
        color: inherit;
    }
}